*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
svg {
    pointer-events: none;
}

.sequencer {
    width: 100%;
    height: 100vh;
}

.kick-pad,
.snare-pad,
.clap-pad {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    margin: 1px 0.5rem;
}
.kick-pad {
    background: rgb(168, 65, 65);
}
.snare-pad {
    background: rgb(58, 167, 48);
}
.clap-pad {
    background: rgb(65, 168, 163);
}
.kick-pad.active {
    background: rgb(255, 0, 0);
}
.snare-pad.active {
    background: rgb(21, 255, 0);
}
.clap-pad.active {
    background: rgb(0, 255, 242);
}

.kick-track,
.snare-track,
.clap-track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 5rem;
}
.kick,
.snare,
.clap {
    display: flex;
    
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button {
    background: rgb(82, 80, 80);
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: all 0.5s ease;
    
}
select {
    padding: 1rem;
    font-size: 1rem;
    outline:none;
}
.pad {
    transition: all 0.5s ease;
}
.mute{
    border: none;
    outline: none;
}
.mute.active{
    background: rgb(161, 159, 159);
}
.play {
    font-size: 1.5rem;
    padding: 1rem 2rem; 
    background: rgb(82, 80, 80);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin:  3rem auto;
    display: flex;
    justify-content: center;
}
.tempo {
    margin: 2rem auto;
    width: 30%;
}
.tempo-slider{
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    border: none;
    outline: none;
    background: rgb(82, 80, 80);
    border-radius: 20px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.tempo p {
    text-align: center;
    font-size: 1.5rem;
}
@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}